$red: #e74c3c;
$active-link-color: #8f9bff;
$text-color: #212529;
$search-btn-bg: #FAD725;

$yellow: #ffd600;
$text-muted: #828282;
$font-primary: 'Poppins', sans-serif;
$avatar-size: 36px;

$primary-color: #6c757d;
$secondary-color: #007bff;
$card-border-radius: 1px;

$primary-text-color: #333; 
$secondary-text-color: #6c757d; 
$card-bg: #fff;
$card-border-radius: 1px;
$card-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

$social-media-bg: #fcebeb; 
$email-marketing-bg: #e2f4e8;
$seo-optimization-bg: #fcf8e3; 

$background-color: #ffffff;
$card-background: #ffffff;
$text-primary: #000000;
$text-secondary: #666666;
$text-dark: #333333;
$form-background: rgba(242, 242, 242, 1);

$border-radius: 1px;
$animation-duration: 30s;

